@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
/* main style */

:root {
    --black: rgb(0, 0, 0);
    --orang: rgb(255, 132, 0);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}



body {
    background: rgb(237, 235, 235);
}

section {
    padding: 2rem 9%;
}


/* header style */
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: white;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(210, 113, 3, 0.331);
}

header .logo {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color:var(--black);
}

header .logo span {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color:var(--orang);
}


header .navbar a {
    font-size: 2rem;
    color: var(--black);
    margin: 0 1rem;
}

header .navbar a:hover {
    color: var(--orang)
}

header .icons a {
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: var(--orang)
}

#menu-bar {
    font-size: 2.5rem;
    padding: .5rem 1.5rem;
    border: .2rem solid var(--black);
    color: var(--orang);
    border-radius: .2rem;
    cursor: pointer;
    display: none;
}


/* home style */


.home .content {
    padding-top: 10rem;
    margin: 2rem auto;
    max-width: 70rem;
}
.home .content h3 {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--black);
    font-size: 4rem;
    text-transform: uppercase;
}

.home .content h3 span {
    padding-bottom: 2rem;
    color: var(--orang);
    font-size: 4rem;
    text-transform: uppercase;
}

.mySwiper {
    border: .5rem solid white;
    box-shadow: 0 .5rem 1rem 0 rgba(6, 6, 6, 0.472);
    padding: .5rem;
}
.home .mySwiper .swiper-slide {
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: 0 .5rem 1rem 0 rgba(6, 6, 6, 0.472);
    height: 25rem;
    width: 30.9rem;
}

.home .mySwiper .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.home .mySwiper .swiper-slide .slide-content {
    position: absolute;
    top: 70%;
    left: 5%;
    padding: .5rem 1rem;
    border-radius: .3rem;
    background: rgba(255, 255, 255, 0.598);
}

.home .mySwiper .swiper-slide .slide-content h3 {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.home .mySwiper .swiper-slide .slide-content a {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--orang);
    background: none;
    margin-top: .5rem;
    
}

.home .mySwiper .swiper-slide .slide-content a:hover {
    color: blue;
}





















/* medio cueries */

@media (max-width:991px){

html {
    font-size: 55%;
}
header{
    padding: 2rem;
}
section {
    padding: 2rem;
}
}

@media (max-width:768px){

#menu-bar{
    display: block;
}
header .navbar {
    position: absolute;
    top: 100%; left: -120%;
    width: 50%;
    background: rgba(226, 226, 224, 0.828);
    border-radius: .5rem;       
}
header .navbar.active{
    left: 0;
}

header .navbar a {
    font-size: 2rem;
    background: none;
    border-radius: .5rem;
    padding: .5rem;
    margin: .5rem;
    display: block;
}

header .navbar a:hover {
    background: rgba(244, 211, 179, 0.852);
}


@media (max-width:400px){

    html {
        font-size: 50%;
    }
    .home .home-slider .swiper-slide {
        width: 27rem;
    }       
    
    }
}